# Editor
.vscode

# Documents
Documents/Winter Progress Report

# Resources and Images
Robot Arm Pictures/K-means Old
Robot Arm Pictures/K-means Test Images
Robot Arm Pictures/Photoshop Resources